aside {
    margin-left: 20px;
    
    .operation h2{
        font-weight: bold;
        font-size: 24px;
    }
    
    .operation__button{
        width: 300px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        border-radius: 16px 16px 16px 16px;
        border: none;
        box-shadow: 0 4px 4px 0px #999;
        font-weight: bold;
        
            .operation__number{
                display: flex;
                align-content: flex-start;
                margin-left: -14px;
                width: 10px;
                height: 12px;
                color: white;
                background-color: $primary-color;
                margin-top: 12px;
                padding: 4px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .operation__text{
                margin-left: 20px;
                
                i{
                    margin-right: 20px;
                }
            }
        &:hover{
            background-color: lighten($primary-color, 30%);
            i{
                color: $primary-color;
            }
        }
    }
    .operation__steps {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
   











}