body {
  margin: 0 0 0 0;
}

header img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 12px 8px -12px gray;
          box-shadow: 0px 12px 8px -12px gray;
  position: relative;
}

header .localisation__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background-color: #EAEBEA;
}

header .localisation__bar i {
  padding-right: 10px;
}

header .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F6F4;
  padding-bottom: 40px;
}

header .presentation .presentation__subtext {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

header .presentation button {
  margin: 0 auto;
  display: block;
  border-radius: 40px 40px 40px 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 16px;
  color: white;
  padding: 16px 16px 16px 16px;
  border: none;
}

header .presentation button:hover {
  background: #e4d5f6;
  color: #9356dc;
  font-weight: bold;
}

aside {
  margin-left: 20px;
}

aside .operation h2 {
  font-weight: bold;
  font-size: 24px;
}

aside .operation__button {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  border-radius: 16px 16px 16px 16px;
  border: none;
  -webkit-box-shadow: 0 4px 4px 0px #999;
          box-shadow: 0 4px 4px 0px #999;
  font-weight: bold;
}

aside .operation__button .operation__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: -14px;
  width: 10px;
  height: 12px;
  color: white;
  background-color: #9356dc;
  margin-top: 12px;
  padding: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

aside .operation__button .operation__text {
  margin-left: 20px;
}

aside .operation__button .operation__text i {
  margin-right: 20px;
}

aside .operation__button:hover {
  background-color: #e4d5f6;
}

aside .operation__button:hover i {
  color: #9356dc;
}

aside .operation__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  background-color: #F3F6F4;
}

.choices__header {
  font-weight: bold;
}

.restaurants__card {
  width: 95%;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 20px #999;
          box-shadow: 0px 5px 20px #999;
}

.restaurants__card a {
  color: black;
  text-decoration: none;
}

.restaurants__card .card__image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.restaurants__card .card__image img {
  width: 100%;
  position: absolute;
}

.restaurants__card .card__image .card__new {
  position: absolute;
  width: 30%;
  height: 12%;
  text-align: center;
  top: 8px;
  right: 16px;
  color: #32b091;
  background-color: #99e2d0;
  font-weight: bold;
}

.restaurants__card .card__body {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__card .card__body p {
  margin: 0;
  padding: 0;
}

.restaurants__card .card__body .card__title {
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
}

.restaurants__card .card__body .card__localisation {
  margin-left: 10px;
  font-size: 22px;
  padding-bottom: 18px;
}

.restaurants__card .card__body .card__favorite {
  margin-top: 34px;
  margin-right: 20px;
  font-size: 28px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.restaurants__card .card__body .card__favorite:hover {
  -webkit-text-stroke: 0px;
  background: -webkit-linear-gradient(230deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */