@charset "UTF-8";
body {
  margin: 0 0 0 0;
}

/*------Loader home page-------*/
.loader__bg {
  position: fixed;
  z-index: -1;
  /*to put in front*/
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-animation: loader_bg 2s linear;
          animation: loader_bg 2s linear;
  opacity: 0;
}

.loader__bg .loader, .loader__bg .loader2 {
  font-size: 10px;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: fixed;
  -webkit-animation: loader_spinner 3s linear;
          animation: loader_spinner 3s linear;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}

.loader__bg .loader:before, .loader__bg .loader2:before {
  width: 50%;
  height: 50%;
  background: #ff79da;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader__bg .loader:after, .loader__bg .loader2:after {
  background: #9356dc;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader__bg .loader2 {
  -webkit-animation: loader_spinner2 3s linear;
          animation: loader_spinner2 3s linear;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.loader__bg .loader2:before {
  background: #99e2d0;
}

@-webkit-keyframes loader_bg {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader_bg {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes loader_spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader_spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader_spinner2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes loader_spinner2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*---------animation menu--------*/
.dish.entrees {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 2s;
          animation: animationText 2s;
}

.dish.mains {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 3s;
          animation: animationText 3s;
}

.dish.desserts {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 4s;
          animation: animationText 4s;
}

@-webkit-keyframes animationText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #4C4C4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

footer .footer__header {
  font-family: 'Shrikhand', cursive;
  color: white;
  margin-left: 35px;
  padding-top: 20px;
  font-size: 24px;
}

footer p {
  padding: 0;
  margin-left: 35px;
  margin-bottom: -10px;
  list-style: none;
  list-style-position: inherit;
  color: white;
  display: inline-block;
}

footer p i {
  padding-bottom: 0;
  width: 18px;
  padding-left: 0;
  margin-right: 10px;
}

footer p .footer__contact {
  text-decoration: none;
  color: white;
}

header img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 12px 8px -12px gray;
          box-shadow: 0px 12px 8px -12px gray;
  position: relative;
}

header .localisation__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background-color: #EAEBEA;
}

header .localisation__bar i {
  padding-right: 10px;
}

header .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F6F4;
  padding-bottom: 40px;
}

header .presentation .presentation__subtext {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

header .presentation button {
  margin: 0 auto;
  display: block;
  border-radius: 40px 40px 40px 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 16px;
  color: white;
  padding: 16px 16px 16px 16px;
  border: none;
}

header .presentation button:hover {
  background: #e4d5f6;
  color: #9356dc;
  font-weight: bold;
}

header .menu__header {
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 10px;
  padding-bottom: auto;
  font-size: 30px;
}

header .menu__header a {
  color: black;
  text-decoration: none;
}

header .menu__header a i {
  padding-left: 20px;
}

header .menu__header p {
  padding: auto;
  padding-right: 20px;
  margin: auto;
  font-size: 32px;
}

aside {
  margin-left: 20px;
  margin-bottom: 50px;
}

aside .operation h2 {
  font-weight: bold;
  font-size: 24px;
}

aside .operation__button {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  border-radius: 16px 16px 16px 16px;
  border: none;
  -webkit-box-shadow: 0 4px 4px 0px #999;
          box-shadow: 0 4px 4px 0px #999;
  font-weight: bold;
}

aside .operation__button .operation__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: -14px;
  width: 10px;
  height: 12px;
  color: white;
  background-color: #9356dc;
  margin-top: 12px;
  padding: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

aside .operation__button .operation__text {
  margin-left: 20px;
}

aside .operation__button .operation__text i {
  margin-right: 20px;
}

aside .operation__button:hover {
  background-color: #e4d5f6;
}

aside .operation__button:hover i {
  color: #9356dc;
}

aside .operation__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding: 0px;
  margin: 0px;
  background-color: #F3F6F4;
}

.choices {
  margin-left: 20px;
  padding-bottom: 50px;
}

.choices .choices__header {
  padding-top: 50px;
  font-weight: bold;
}

.choices .restaurants__card {
  width: 95%;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 20px #999;
          box-shadow: 0px 5px 20px #999;
}

.choices .restaurants__card a {
  color: black;
  text-decoration: none;
}

.choices .restaurants__card .card__image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.choices .restaurants__card .card__image img {
  width: 100%;
  position: absolute;
}

.choices .restaurants__card .card__image .card__new {
  position: absolute;
  width: 30%;
  height: 12%;
  text-align: center;
  top: 8px;
  right: 16px;
  color: #32b091;
  background-color: #99e2d0;
  font-weight: bold;
}

.choices .restaurants__card .card__body {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choices .restaurants__card .card__body p {
  margin: 0;
  padding: 0;
}

.choices .restaurants__card .card__body .card__title {
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.choices .restaurants__card .card__body .card__localisation {
  margin-left: 10px;
  font-size: 16px;
  padding-bottom: 18px;
}

.choices .restaurants__card .card__body .card__favorite {
  margin-top: 34px;
  margin-right: 20px;
  font-size: 28px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.choices .restaurants__card .card__body .card__favorite:hover {
  -webkit-text-stroke: 0px;
  background: -webkit-linear-gradient(230deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entrees, .mains, .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu__img--francaise {
  background-image: url(../../public/img/restaurants/à_la_française.jpg);
}

.menu .menu__img--note {
  background-image: url(../../public/img/restaurants/la_note_enchantée.jpg);
}

.menu .menu__img--palette {
  background-image: url(../../public/img/restaurants/palette_de_gout.jpg);
}

.menu .menu__img--delice {
  background-image: url(../../public/img/restaurants/le_délice_des_sens.jpg);
}

.menu .menu__img--properties {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 250px;
}

.menu .menu__container {
  margin-top: -20px;
  padding-top: 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #EAEBEA;
}

.menu .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__header .menu__title {
  font-family: 'Shrikhand', cursive;
  font-size: 26px;
  margin-top: -20px;
  margin-left: 14px;
}

.menu .menu__header .menu__favorite {
  margin-top: -20px;
  margin-right: 20px;
  font-size: 24px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.menu .menu__header .menu__favorite:hover {
  -webkit-text-stroke: 0px;
  background: -webkit-linear-gradient(230deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dish {
  background-color: #EAEBEA;
  padding-bottom: 30px;
}

.dish.entrees {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 2s;
          animation: animationText 2s;
}

.dish.mains {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 4s;
          animation: animationText 4s;
}

.dish.desserts {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation: animationText 6s;
          animation: animationText 6s;
}

@keyframes animationText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dish .dish__header {
  font-size: 18px;
  margin-left: 20px;
}

.dish .dish__header--border {
  position: relative;
}

.dish .dish__header--border:before {
  content: "";
  position: absolute;
  width: 44px;
  height: 1px;
  bottom: 0;
  left: 0%;
  border-bottom: 2px solid #99e2d0;
}

.dish .dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 6px 2px lightgray;
          box-shadow: 1px 1px 6px 2px lightgray;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dish .dish__container:hover ul.check {
  width: 50px;
}

.dish .dish__container:hover ul.check i {
  -webkit-animation: rotationicon ease-in-out 2s 1;
          animation: rotationicon ease-in-out 2s 1;
}

@-webkit-keyframes rotationicon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotationicon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dish .dish__container .check {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.dish .dish__container .check li.check__policy {
  border: 1px solid #99e2d0;
  background: #99e2d0;
  width: 100%;
}

.dish .dish__container .check i.fas.fa-check-circle {
  font-size: 24px;
  width: 50px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.dish .dish__container .dish__price {
  font-weight: bold;
  margin-right: 6px;
}

.dish .dish__container .dish__info {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 10em;
}

.dish .dish__container .dish__info h4, .dish .dish__container .dish__info p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish .dish__container .dish__info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish .dish__container .dish__info .dish__name {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 85%;
}

.dish .dish__container .dish__info .dish__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.order__button {
  margin: 50px auto 40px auto;
  display: block;
  border-radius: 40px 40px 40px 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 16px;
  color: white;
  padding: 16px 50px 16px 50px;
  border: none;
}

.order__button:hover {
  background: #e4d5f6;
  color: #9356dc;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */