.menu{

    .menu__img--francaise{
        background-image: url(../../public/img/restaurants/à_la_française.jpg);}
    .menu__img--note{
        background-image: url(../../public/img/restaurants/la_note_enchantée.jpg);
    }
    .menu__img--palette{
        background-image: url(../../public/img/restaurants/palette_de_gout.jpg);
    }
    .menu__img--delice{
        background-image: url(../../public/img/restaurants/le_délice_des_sens.jpg);
    }
               
    .menu__img--properties{
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 250px;
        }
    
    .menu__container{
        margin-top: -20px;
        padding-top: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: $light-gray;
    }
    .menu__header{
        display: flex;
        justify-content: space-between;

        .menu__title{
            font-family: 'Shrikhand', cursive;
            font-size: 26px;
            margin-top: -20px;
            margin-left: 14px;
        }
        
        .menu__favorite{
            margin-top:  -20px;
            margin-right: 20px;
            font-size: 24px;
            color: white;
            -webkit-text-stroke : 2px black;

            &:hover{
            -webkit-text-stroke: 0px;
            background: -webkit-linear-gradient(230deg,$primary-color, $secondary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
    }
}
.dish{
    background-color: $light-gray;
    padding-bottom: 30px;

    .dish__header{
        font-size: 18px;
        margin-left: 20px;

        &--border{
            position: relative;
              
            &:before{
                content: "";
                position: absolute;
                width: 44px;
                height: 1px;
                bottom: 0;
                left: 0%;
                border-bottom: 2px solid $tertiary-color;
            }
        }
    }
    .dish__container{
        width: 340px;
        border: 2px solid white;
        background-color: white;
        margin: 14px;
        border-radius: 20px;
        box-shadow: 1px 1px 6px 2px lightgray;

        .dish__info{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            
            .dish__name{
                font-weight: bold;
                font-size: 18px;
            }
        
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            .dish__details{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 14px;
            }
            .dish__price{
            margin-right: 14px;
            font-weight: bold;
            }
        }    
    }
}
.order__button{
    margin: 50px auto 40px auto;
    display: block;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(0deg, $primary-color, $secondary-color);
    font-size: 16px;
    color: white;
    padding: 16px 50px 16px 50px;
    border: none;
    
    &:hover{
        background: lighten($primary-color, 30%);
        color: $primary-color;
        font-weight: bold;
    }
}